:root {
  --bg: #0e2d4b;
  --grid: #adadad;
  --highlight: #211A1D;
  --search: #00B4D8;
  --search-75: rgba(0, 180, 216, 0.75);
  --size: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

* {
  //font-family: "Courier New", Courier, monospace;
  font-family: Figtree, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  color: white;
  margin: 0;
}

ul, li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(119, 169, 185);
}

.App {
  background-color: var(--bg);
  min-height: 100vh;
  width: 100vw;
  position: relative;
  padding-bottom: 1rem;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url('/images/film-reel.png');
    background-blend-mode: multiply;
    background-size: 50px;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.15;
    z-index: 0;
    pointer-events: none;
  }

}

.help-bar {
  padding: 1em;
}

.title {
  font-size: 1.75em;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.game-row {
  border: none;
  position: relative;
  display: flex;
  border-radius: 10px;
  width: 100%;
  background-color: var(--highlight);
  min-height: 94px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding: 25px;

  &.selected {

  }

  &-container {
    border-radius: 10px;
    position: relative;
    width: calc(100% - 4rem);
    margin: 2rem;
    min-height: 94px;
    box-shadow: 2px 5px 10px black;

    & svg {
      position: absolute;
      left: -1px;
      top: -1px;
    }

    & .line {
      stroke-dasharray: 260;
      stroke-width: 1px;
      fill: transparent;
      stroke: var(--search-75);
      animation: svgAnimation 7s linear infinite;
    }
  }
}

.poster-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 92px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  max-width: 33.3%;
}

.logo {
  width: 40%;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.y-header,
.x-header {
  margin: auto;
  text-align: center;
  line-height: 1.5em;
  // font-size: 1.25em;
}

.x-header {
  // padding: 8px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.y-header {
  // padding-right: 8px;
}

// search modal

.overlay {
  background-color: #0000004d;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}

.search-bar{
  &-container {
    top: 10%;
    left: 10%;
    position: fixed;
    z-index: 100;
    margin: auto;

    min-width: 80%;
    height: 50px;
    max-width: 50rem;
  }

  display: flex;
  // padding: 3px;
  overflow: hidden;

  &-input {
    width: 100%;
    flex-grow: 1;
    font-size: 1.5rem;
    border: solid 2px black;
    position: absolute;
    border-radius: 10px;
    background: var(--search);
    padding-left: 1em;
    color: white;
    line-height: calc(var(--size) - 3px);
    cursor: initial;

    &:focus-visible {
      outline: none;
      //outline: 1px solid white;
    }

    &.results {
      border-radius: 10px 10px 0 0;
    }
  }
}

.search-results {
  background-color: var(--search);
  min-width: calc(100% + 26px);
  max-width: 80vw;
  margin: 0;
  padding: 0;
  border: solid 2px black;

  position: relative;
  top: var(--size);
  right: 0;

  max-height: 50vh;
  overflow-y: auto;

  border-radius: 0 0 10px 10px;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }

  &-items {
    border-bottom: 2px solid black;
    line-height: 2rem;
    padding-left: 5px;
    list-style: none;

    cursor: pointer;

    &:hover {
      background-color: var(--bg);
    }
  }
}

.category-label {
  //background-color: #00000080;
  color: white;
  position: absolute;
  display: block;
  padding: .5em;
  bottom: 0px;
  left: 0px;
  top: 0px;
  width: 8rem;
  border-radius: 10px 0 0 10px;
  max-width: 33.3%;
}

.row-label {
  color: #fff;
  text-shadow: 1px 0 0 var(--highlight), 0 -1px 0 var(--highlight), 0 1px 0 var(--highlight), -1px 0 0 var(--highlight);
  font-size: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-score {
  position: absolute;
  bottom: -1.5em;
  height: 1.5em;
  left: 0;
  width: 100%;
  background-color: #004225;
  border-radius: 0 0 10px 10px;
  padding-top: 0.25em;
  color: white;
}

.game-header {
  font-weight: 400;
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25em;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1em;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  box-shadow: 2px 5px 10px black;
  border:  solid 2px;
}

.footer {
  width: 8rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: .5em;
  font-size: 1em;
  border: none;
}

.game-title {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.game-scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  & > span {
    min-width: 50%;
  }
}

.guess-counter {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  gap: 1rem;
  font-size: 2em;
  font-family: 'Cinzel', serif;
}

.help-modal {
  margin: auto;
  margin-top: 2rem;
  border-radius: 30px;
  padding: 1em;
  width: 70%;
  max-width: 30rem;
  background-color: rgb(58, 58, 58);
  position: relative;

  & h2 {
    text-align: center;
    padding: 5px 0 5px 0;
  }

  & p {
    margin-bottom: 1em;
  }
}

.help-button {
  position: absolute;
  right: 1em;
  top: 1em;
  border: solid 2px white;
  border-radius: 400px;
  padding: 5px;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 600px){
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    width: 75vw;
  }
  .empty-item {
    display: none;
  }
}